@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
::-webkit-scrollbar {
    width: 10px;
}
*{margin:0;}
body{
    background-color: #2B2B2B;
}
.container{
    margin: 0 auto;
    max-width: clamp(315px, 82vw, 1050px);
}
.button{
    background-color: rgba(162, 89, 255, 1);
    border:none;
    border-radius: 20px;
    color:rgba(255, 255, 255, 1);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
}
@media screen and (max-width:760px){
    .button{
        width: 315px;
    }
}
h1{
    color: rgba(255, 255, 255, 1);
    font-family: 'Work Sans', sans-serif;
    font-size: 67px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 20px;
    margin:0px 0px;
    line-height: 74px;
}
h2{
    color: rgba(255, 255, 255, 1);
    margin:0px 0px;
    padding-bottom: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 51px;
    font-weight: 600;
    text-align: left;
    line-height: 56px;
}
h3{
    color: rgba(255, 255, 255, 1);
    margin:0px 0px;
    padding-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-align: left;
    line-height: 47px;
}
h4{
    font-family: 'Space Mono', monospace;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color:rgba(255, 255, 255, 1);
    margin:0px 0px;
    line-height: 39px;
}
h5{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color:rgba(255, 255, 255, 1);
    margin: 0px 0px;
    line-height: 31px;
}
.collection-card-squere, .container-footer__h5{
    font-family: 'Space Mono', monospace;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color:rgba(255, 255, 255, 1);
    margin:0px 0px;
    line-height: 35px;
}
.body-text{
    color:rgba(255, 255, 255, 1);
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    line-height: 35px;
    margin: 0px 0px;
}
.caption{
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color:rgba(255, 255, 255, 1);
    margin:0px 0px;
    line-height: 13px;
}
.nav-menu{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    column-gap: 51px;
    margin-right: 30px;
}
.nav-menu__item a{
    color: rgba(255, 255, 255, 1);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.nav-menu__item a:after {
    display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color:rgba(162, 89, 255, 1);
	content: "";
	transition: width 0.3s ease-out; 
}
a:hover:after,
a:focus:after {
	width: 100%;
}
.avatar-icon__text, .footer-text, .footer-text a, .email-form input, .how-it-works-card p {
    color:rgba(255, 255, 255, 1);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; 
    text-align: left;
}
h1, h2, h3, h4, h5, p, .button, .caption{
    text-transform: capitalize;
}
.logo{
    display:flex;
    align-items: center;
    column-gap: 13px;
    cursor: pointer;
}
.logo img:nth-child(2){
    padding-top:7px;
}
.logo-adaptive{
    display: none;
    cursor: pointer;
}
.avatar-icon{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.avatar h5{
    padding-bottom: 8px;
}
@media screen and (max-width:1200px) {
    h1{
        font-size: 50px;
        line-height: 50px;
    }
    h3{
        font-size: 28px;
        line-height: 40px;
    }
    .body-text{
        font-size: 16px;
        line-height: 22px;
    }
}
@media screen and (max-width:960px) {
    h1{
        font-size: 38px;
        line-height: 46px;
    }
    h2{
        font-size: 38px;
        line-height: 46px;
    }
    h4{
        font-size: 22px;
        line-height: 35px;
    }
}
@media screen and (max-width:480px) {
    h1{
        font-size: 28px;
        padding-bottom: 10px;
        line-height: 39px;
    }
    p{
        text-transform: none;
    }
    .collection-card-squere{
        font-size: 16px;
        line-height: 22px;
    }
    .container{
        max-width: 315px;
    }
}
/* - - - - - header - - - - - */
.header-container{
    max-width: clamp(315px, 92vw, 1180px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
}
.header-nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}
.header-nav svg{
    display: none;
}
.header-button{
    padding: 20px 0px;
    width: 152px;
}
.header-button:hover, .hero-section__button:hover, .email-button:hover{
    background-color: #2B2B2B;
    border:2px solid rgba(162, 89, 255, 1);
    cursor: pointer;
}
.header-logo img:nth-child(2){
    padding-left: 7px;
}
.logo a{
    text-decoration: none;
}
@media screen and (max-width:960px){
    .nav-menu, .header-button{
        display: none;
    }
    .header-nav svg{
        display: block;
        fill:white;
        width:24px;
        height:24px;
    }
    .header-nav svg:hover{
        fill:rgba(162, 89, 255, 1);
    }
}
@media screen and (max-width:480px){
    .header-container{
        padding: 15px 0px;
        max-width: 315px;
    }
    .header-logo{
        display: none;
    }
    .logo-adaptive{
        display: flex;
    }
    .logo{
        column-gap: 9px;
    }
    .logo img:nth-child(2){
        padding-top: 4px;
    }

}
/* - - - - - sections - - - - - */
.hero-section, .trending-collection, .top-creators, .browse-categories, .discover-more, .how-it-works{
    padding: 80px 0px;
}
@media screen and (max-width:1200px){
    .hero-section, .trending-collection, .top-creators, .browse-categories, .discover-more, .how-it-works{
        padding: 40px 0px;
    }
}
/* - - - - - hero section - - - - - */
.container-hero-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-text-section{
    width: 47%;
    margin-right: 40px;
}
.hero-text-section>.highlighted-NFT{
    display: none;
}
.hero-text-section__text{
    padding-bottom: 30px;
}
.hero-section__button{
    margin-bottom: 30px;
}
.additional-info{
    display: flex;
    flex-flow: row wrap;
    gap: 67px;
}
.additional-info__item p{
    color: rgba(255, 255, 255, 1);
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 400;
    text-align: left;  
    line-height: Clamp(22px, 3vw, 38px);
}
.additional-info__item:nth-child(3){
    padding-left: 10px;
}
.highlighted-NFT{
    height: 510px;
    width: 510px;
    overflow: hidden;
    background-color: #3B3B3B;
}
.highlighted-NFT__img{
    width: 510px;
    height: 401px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.highlighted-NFT__img img{
    width: 510px;
    height: 401px;
    align-self: center;
}
.highlighted-NFT-avatar{
    padding: 23px 20px;
    overflow: hidden;
}

@media screen and (max-width:1200px){
    .additional-info{
        gap: 44px;
        align-self: flex-start;
    }
    .highlighted-NFT{
        height: clamp(315px, 40vw, 510px);
        width: clamp(315px, 40vw, 510px);
    }
    .highlighted-NFT__img{
        width: clamp(315px, 40vw, 510px);
        height: clamp(206px, 27vw, 401px);
    }
}
@media screen and (max-width:960px){
    .hero-text-section{
        margin-right: 30px;
    }
    .hero-text-section__text{
        padding-bottom: 20px;
    }
    .hero-section__button{
        margin-bottom: 20px;
    }
    .highlighted-NFT-avatar{
        padding: 19px 20px;
    }
}
@media screen and (max-width:812px){
    .additional-info{
        gap: 30px;
    }
}
@media screen and (max-width:760px){
    .container-hero-section{
        display: block;
    }
    .hero-text-section{
        width: 100%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-text-section__text{
        padding-bottom: 40px;

    }
    .hero-section__button{
        margin-bottom: 40px;
    }
    .container-hero-section>.highlighted-NFT{
        display: none;
    }
    .hero-text-section>.highlighted-NFT{
        display: block;
        margin-bottom: 40px;
    }
    .additional-info{
        align-self: center;
        gap: 45px;
    }
}
@media screen and (max-width:480px){
    .additional-info {
        align-self: flex-start;
        gap: 38px;
    }
}
/* - - - - - trending collection - - - - - */
.headline, .headline-with-button{
    padding-bottom: 59px;
}
.trending-collection .headline{
    padding-left: 2px;
}
.cards-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
}
.card{
    background-color: #3B3B3B;
    width:330px;
}
.card-border, .highlighted-NFT{
    border-radius: 20px;
}
.collection-card{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    width: 330px;
}
.collection-card-squere{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height: 100px;
    background-color: rgba(162, 89, 255, 1);
}
.collection-card>img:nth-child(1){
    width: 330px;
    height: 330px;
}
.collection-card>img:nth-child(n+2){
    width:100px;
    height:100px;
}
.avatar-icon img{
    width: 24px;
    height: 24px;
}
@media screen and (max-width:1280px){
    .cards-row{
        justify-content: center;
    }
    .trending-collection .cards-row{
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: left;
    }
    .cards-row::-webkit-scrollbar {
        display: none;
      }
}
@media screen and (max-width:480px){
    .trending-collection .headline{
        padding-left: 0px;
    }
    .headline, .headline-with-button{
        padding-bottom: 40px;
    }
    .card{
        width:315px;
    }
    .collection-card>img:nth-child(1){
        width: 315px;
        height: 315px;
    }
    .collection-card>img:nth-child(n+2){
        width:95px;
        height:95px;
    }
    .collection-card-squere{
        width:95px;
        height: 95px;
    }
}
/* - - - - - top creators - - - - - */
.main-button{
    background-color: #2B2B2B;
    border: 2px solid rgba(162, 89, 255, 1);
    align-self: flex-end;
    padding: 20px 49px;
}
.main-button:hover{
    background-color: rgba(162, 89, 255, 1);
    cursor: pointer;
}
.headline-with-button .headline{
    padding: 0px;
}
.headline-with-button{
    display: flex;
    justify-content: space-between;
}
.top-creators .container>button{
    display: none;
}
.top-creators-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 238px;
    width: 240px;
    background-color:rgba(59, 59, 59, 1);
}
.top-creators-card img{
    margin-top: 21px;
    margin-bottom: 21px;
    width: 120px;
    height: 120px;
    padding-left:11px;
}
.top-creators-avatar h5{
    text-align: center;
    padding-bottom: 5px;
}
.top-creators-avatar p:nth-child(1){
    text-align: center;
    color: #858584;
}
.top-creators-avatar p:nth-child(2){
    color: white;
}
.circle{
    position: absolute;
    align-self: flex-start;
    background-color: rgba(43, 43, 43, 1);
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 20px;
    top: 17px;
    color:rgba(133, 133, 132, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:960px){
    .top-creators-card{
        width: 315px;
        height: 100px;
        flex-direction: row;
    }
    .top-creators-card:nth-child(n+7){
        display: none;
    }
    .top-creators-card img{
        width:60px;
        height: 60px;
        padding: 20px;
    }
    .top-creators-avatar h5{
        text-align: left;
    }
    .circle{
        left: 12px;
        top: 13px;
    }
}
@media screen and (max-width:480px){
    .top-creators .body-text{
        text-transform: capitalize;
    }
    .cards-row{
        gap:20px;
    }
    .top-creators-card:nth-child(n+6){
        display: none;
    }
}
/* - - - - - browse categories - - - - - */ 
.browse-categories .headline{
    padding-bottom: 50px;
}
.browse-categories-row{
    row-gap: clamp(19px, 3vw, 28px);
    column-gap: clamp(19px, 3vw, 30px);
}
.browse-categories-card{
    background-color:rgba(59, 59, 59, 1);
    width: 240px;
    overflow: hidden;
}
.browse-categories-card h5{
    padding: 21px 30px 25px 30px;
}
.browse-categories-card img:nth-child(1){
    filter: blur(10px);
    width: 240px;
    height: 240px;
}
.browse-categories-card:hover img:nth-child(1){
    filter:blur(0px);
}
.browse-categories-card__img{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.browse-categories-card img:nth-child(2){
    position: absolute;
    width: 100px;
    height: 100px;
    left: 70px;
    top: 70px;
}
.browse-categories-card__img{
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 240px;
}
@media screen and (max-width:1200px){
    .browse-categories-card h5{
        font-size: 18px;
    }
    .browse-categories-card img:nth-child(2){
        width: 80px;
        height: 80px;
        left: 30%;
        top: 35%;
    }
    .browse-categories-card{
        width: clamp(148px, 18vw, 240px);
    }
    .browse-categories-card img:nth-child(1){
        width: clamp(148px, 18vw, 240px);
        height: clamp(148px, 17vw, 240px);
    }
    .browse-categories-card__img{
        position: relative;
        overflow: hidden;
        width: clamp(148px, 18vw, 240px);
        height: clamp(148px, 17vw, 240px);
    }
}
@media screen and (max-width:1032px){
    .browse-categories-card:nth-child(5) h5, .browse-categories-card:nth-child(6) h5, .browse-categories-card:nth-child(7) h5{
        padding-bottom:54px;
    }
}
@media screen and (max-width:953px){
    .browse-categories-card h5, .how-it-works h5{
        font-size: 16px;
        line-height: 22px;
    }
    .browse-categories-card:nth-child(5) h5, .browse-categories-card:nth-child(6) h5, .browse-categories-card:nth-child(7) h5{
        padding-bottom:25px;
    }
    .browse-categories-card:nth-child(5) h5, .browse-categories-card:nth-child(6) h5, .browse-categories-card:nth-child(7) h5{
        padding-bottom:46px;
    }
    .browse-categories-card img:nth-child(2){
        width: 60px;
        height: 60px;
        left:30%;
        top:30%;
    }
}
@media screen and (max-width:811px){
    .browse-categories-card:nth-child(5) h5, .browse-categories-card:nth-child(6) h5{
        padding-bottom:25px;
    }
    .browse-categories-card:nth-child(n+7){
        display: none;
    }
}
@media screen and (max-width:480px){
    .browse-categories-card:nth-child(7) h5{
        padding: 14px 20px 46px 20px;
    }
    .browse-categories-card:nth-child(8) h5{
        padding: 14px 20px 27px 20px;
    }
    .browse-categories .headline{
        padding-bottom: 35px;
    }
    .browse-categories-card h5{
        padding: 15px 0px 25px 20px;
    }
    .browse-categories-card:nth-child(n+7){
        display: block;
    }
}
/* - - - - - discover more - - - - - */
.discover-more-avatar h5{
    padding-bottom: 4px;
}
.discover-more-avatar .avatar-icon__text, .price p, .bid p, .top-creators-avatar p:nth-child(2), .circle{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.discover-more-avatar{
    padding: 17px 0px 25px 30px;
}
.discover-more-card{
    background-color:rgba(59, 59, 59, 1);
    overflow: hidden;
}
.discover-more-card .additional-info{
    padding: 0px 30px 25px 30px;
    justify-content: space-between;
}
.price .caption, .bid .caption{
    color: rgba(133, 133, 132, 1);
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 13px;
}
.price p, .bid p{
    color: white;
    text-transform: none;
}
.bid .caption{
    text-align: right;
}
.discover-more-card>img{
    width: 330px;
    height:296px;
}
.discover-more .container>button{
    display:none;
}
@media screen and (max-width:1250px){
    .discover-more-card:nth-child(n+3){
        display: none;
    }
}
@media screen and (max-width:830px){
    .discover-more-card:nth-child(n+3){
        display: block;
        margin-bottom: 40px;
    }
    .headline-with-button>button{
        display: none;
    }
    .discover-more .container>button, .top-creators .container>button{
        display:flex;
        align-self: center;
        width: 330px;
    }
    .top-creators .container>button{
        margin-top: 40px;
    }
    .discover-more .container, .top-creators .container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:480px){
    .discover-more{
        padding-bottom: 60px;
    }
    .discover-more .headline-with-button h3{
        padding-bottom: 9px;
    }
    .discover-more .headline-with-button{
        padding-bottom: 39px;
    }
    .container>button{
        display: flex;
    }
    .discover-more-card:nth-child(n+3){
        display: block;
    }
    .bid p, .price p{
        font-size: 12px;
        line-height: 13px;
    }
    .bid p{
        text-align: right;
    }
    .discover-more-avatar{
        padding: 18px 0px 26px 20px;
    }
    .discover-more-card .additional-info{
        gap:0px;
        padding: 0px 20px 24px 20px;
    }
    .discover-more-card>img{
        width: 315px;
        height:237px;
    }
    .discover-more .container>button{
        width: 315px;
        margin-top: 0px;
    }
}
/* - - - - - nft-highlight - - - - - */
.nft-highlight{
    padding: 360px 0px 60px 0px;
    background-image: url(../img/Screen_Desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nft-highlight__avatar-icon{
    background-color: #3B3B3B;
    padding: 11px 0px 9px 20px;
    border-radius: 20px;
    width:130px;
    margin-bottom:30px;
}
.nft-highlight__button{
    background-color:white;
    color: #2B2B2B;
    align-self: flex-end;
}
.nft-highlight__button:hover{
    background-color:#3B3B3B;
    color:white;
    cursor: pointer;
}
.nft-highlight-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nft-highlight-container>.button{
    display:none;
}
.timer{
    background-color: rgba(59,59,59,50%);
    border-radius: 20px;
    padding:32px 30px 20px 30px;
}
.time-numbers{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}
.time-numbers h3{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    padding: 11px 4px 4px 0px;
}
.time-numbers h3:nth-child(even){
    font-size: 28px;
    line-height: 39px;
}
@media screen and (max-width:1200px){
    .time-numbers h3{
        line-height: 46px;
        font-size: 38px;
        padding: 10px 4px 4px 0px;
    }
}
@media screen and (max-width:760px){
    .timer{
        padding:20px 25px 20px 25px;
    }
    .time-numbers h3{
        line-height: 46px;
        font-size: 38px;
        padding: 10px 4px 4px 0px;
    }
    .nft-highlight-container>.button{
        display:flex;
    }
    .nft-highlight__button{
        display: none;
    }
    .timer{
        margin-bottom: 30px;
        padding:30px 37px 27px 30px;
    }
    .time-numbers{
        column-gap: 13px;
    }
}
@media screen and (max-width:480px){
    .nft-highlight{
        padding: 120px 0px 40px 0px;
    }
}
/* - - - - - how it works - - - - - */
.how-it-works-card{
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 439px;
}
.how-it-works-card>img{ 
    width: 250px;
    height: 250px;
    padding-bottom:22px;
    margin-top: 10px;
}
.how-it-works-card p, .how-it-works h5{
    text-align: center;
}
.how-it-works .headline{
    padding-bottom: 46px;
}
.how-it-works h5{
    padding-bottom: 9px;
}
.how-it-works-card p{
    max-width: 270px;
    text-transform: none;
}
@media screen and (max-width:1280px){
    .how-it-works-card{
        height: 337px;
        width:300px;
    }
    .how-it-works-card>img{ 
        width: 160px;
        height: 160px;
    }
}
@media screen and (max-width:1200px){
    .how-it-works-card{
        width:296px;
    }
}
@media screen and (max-width:960px){
    .how-it-works-card{
        width: 210px;
    }
    .how-it-works-card p{
        font-size: 12px;
        line-height: 17px;
    } 
}
@media screen and (max-width:841px){
    .how-it-works-card>img{ 
        width: 100px;
        height: 100px;
        padding:20px;
    }
    .how-it-works-card{
        width: 315px;
        height: 157px;
        align-items: center;
        flex-direction: row;
    }
    .how-it-works-card p, .how-it-works h5{
        text-align: left;
        max-width: 155px;
    }
}
@media screen and (max-width:480px){
    .how-it-works .headline{
        padding-bottom: 40px;
    }
    .how-it-works-card>img{ 
        margin-top:0px;
    }
    .how-it-works-card:nth-child(2){
        height: 140px;
    }
    .how-it-works h5{
        padding-bottom: 13px;
    }
}
/* - - - - - subscribe - - - - - */
.subscribe{
    padding: 40px 0px 80px 0px;
}
.subscribe-card{
    display: flex;
    width:100%;
    padding: 62px 0px 58px 0px; 
}
.subscribe-info{
    max-width: 425px;
    padding-top:19px;
}
.subscribe-info .email-form input{
    width: 425px;
}
.subscribe-info .email-button{
    left: 214px;
    width: 211px;
}
.subscribe-info h3{
    padding-bottom:8px;
}
.subscribe-info p.body-text{
    padding-bottom: 40px;
}
.subscribe-card>img{
    padding-right: 80px;
    padding-left: 60px;
    width:clamp(315px, 36vw, 425px);
    height: clamp(255px, 34vw, 310px);
}
@media screen and (max-width:1200px) {
    .subscribe-info .email-button{
        width: 300px;
        height: 46px;
        position: static;
    }
    .subscribe-info .email-form input{
        width: 285px;
        padding: 13px 0px 11px 19px;
        margin-bottom: 16px;
    }
    .email-form{
        flex-direction: column;
    }
    .subscribe-info{
        max-width: 315px;
    }
    .subscribe{
        padding: 40px 0px 80px 0px;
    }
    .subscribe-card{
        column-gap: 30px;
        padding: 40px 0px 40px 0px; 
    }
    .subscribe-card>img{
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media screen and (max-width:860px) {
    .subscribe-info .email-button{
        width: 91%;
    }
    .subscribe-info .email-form input{
        width: 85%;
    }
    .subscribe-card>img{
        padding-right: 20px;
    }
    .subscribe-info{
        max-width: 380px;
    }
}
@media screen and (max-width:760px) {
    .subscribe-card{
        flex-direction: column;
        align-items: center;
    }
    .subscribe .container{
        max-width: 315px;
    }
    .subscribe .card{
        background: none;
    }
    .subscribe-info .email-button{
        width: 100%;
    }
    .subscribe-info .email-form input{
        width: 94%;
    }
    .subscribe-card>img{
        padding-right: 0px;
        padding-left: 0px;
    }
    .subscribe .card{
        padding:0px;
    }
    .subscribe-info{
        padding-top:29px;
    }
}
@media screen and (max-width:480px) {
    .subscribe{
        padding: 40px 0px;
    }
}
/* - - - - - footer - - - - - */
footer{
    padding:45px 0px; 
    background-color: rgba(59, 59, 59, 1);
}
.footer-logo{
    cursor: pointer;
}
.footer-logo img:nth-child(2){
   padding-bottom: 6px;
   padding-left: 9px;
}
.container-footer{
    display:grid;
    grid-template-columns: 328px 240px 420px;
    column-gap: 31px;
    grid-template-rows: 57px 159px;
    grid-auto-flow: column;
}
.footer-info{
    width: 238px;
}
.social-media{
    display: flex;
    column-gap: 10px;
}
.social-media svg{
    fill:#858584;
    width: 32px;
    height: 32px;
}
.social-media svg:hover{
    fill:white;
}
.footer-text{
    padding-bottom: 20px;
    max-width: 330px;
}
.container-footer__h5{
    margin-top: -3px;
}
.footer-text, footer .caption{
    color: rgba(204, 204, 204, 1);
    text-transform: none;
}
footer .caption{
    font-family: 'Work Sans', sans-serif;
}
.footer-text_padding{
    padding-bottom: 13px;
}
.footer-text a{
    color: rgba(204, 204, 204, 1);
}
.footer-nav{
    flex-direction: column;
    justify-content: left;
    padding: 0px;
}
.email-form{
    display: flex;
    position: relative;
}
.email-button{
    position:absolute;
    left: 242px;
    width: 179px;
}
.email-button:hover{
    background-color: #3B3B3B;
}
.footer-button img{
    display: none;
}
.email-form input{
    width:420px;
    border: none;
    padding: 19px 0px 19px 20px;
    border-radius: 20px;
    color:#2B2B2B
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgba(133, 133, 132, 1);
    margin-bottom: 20px;
}
@media screen and (max-width:1200px) {
    footer .email-button{
        width: 300px;
        height: 46px;
        position: static;
    }
    footer .email-form input{
        width: 282px;
        padding: 13px 0px 11px 18px;
        margin-bottom: 16px;
    }
    .email-form{
        flex-direction: column;
    }
    .container-footer{
        grid-template-columns: 328px 210px 315px;
        grid-template-rows: 57px 195px;
    }
}
@media screen and (max-width:1080px) {
    .container-footer{
        grid-template-columns: 300px 210px 300px;
        grid-template-rows: 57px 195px;
    }
}
@media screen and (max-width:960px){
    .container-footer{
        display: flex;
        flex-direction: column;
        gap:30px;
    }
    .email-form{
        position: unset;
        display: block;
    }
    footer .email-form{
        margin-bottom: 30px;
    }
    footer .email-form input{
        width:285px;
        padding: 12px 0px 12px 30px;
        margin-bottom: 16px;
    }
    footer .email-button{
        padding: 13px 102px;
        position: unset;
        height:46px;
        width: 315px;
    }
    .footer-button img{
        display: block;
    }
    .footer-info{
        width: 315px;
    }
    .footer-nav{
        display: flex;
        padding-bottom: 13px;
    }
}
@media screen and (max-width:480px){
    .container-footer{
        gap:0px;
    }
    .footer-logo{
        padding-bottom: 12px;
    }
    footer .email-form{
        margin-bottom: 30px;
    }
    footer .email-form input{
        width:295px;
        padding: 12px 0px 12px 20px;
        margin-bottom: 16px;
    }
    footer .email-button{
        padding: 13px 102px;
        position: unset;
        height:46px;
        width: 315px;
    }
    .footer-button img{
        display: block;
    }
    .footer-info{
        width: 315px;
    }
    .social-media{
        padding-bottom: 36px;
    }
    .container-footer__h5{
        padding-bottom: 19px;
    }
}
/* - - - - - error 404 - - - - - */
.error{
    padding: 150px 0px;
}
.error h1{
    text-align: center;
}
.error h2{
    text-align: center;
}
@media screen and (max-width:1200px){
    .error h1{
        font-size: 67px;
        line-height: 74px;
    }
    .error h2{
        font-size: 51px;
        line-height: 56px;
    }
}
@media screen and (max-width:480px){
    .error h1{
        font-size: 51px;
        line-height: 56px;
    }
    .error h2{
        font-size: 38px;
        line-height: 47px;
    }
    .error{
        padding-top:150px;
    }
}
@media screen and (max-width:375px) {
    h1{
        font-size: 26px;
    }
    h3{
        font-size: 26px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 20px;
    }
    .caption{
        font-size: 10px;
    }
    .avatar h5{
        padding-bottom: 5px;
    }
    .additional-info{
        gap:22px;
    }
    .additional-info__item:nth-child(3){
        padding:0px;
    }
    .header-container{
        max-width: 280px;
    }
    .container{
        max-width: 250px;
    }
    .collection-card>img:nth-child(1){
        width:250px;
        height: 250px;
    }
    .collection-card>img:nth-child(n+2){
        width: 73px;
        height: 73px;
    }
    .collection-card-squere{
        width: 73px;
        height: 73px;
    }
    .highlighted-NFT{
        height: 250px;
        width: 250px;
    }
    .highlighted-NFT__img{
        width: 250px;
        height: 160px;
    }
    .highlighted-NFT-avatar{
        padding:13px 20px;
    }
    .button, .discover-more .container>.button, .top-creators .container>.button{
        width:250px;
    }
    .top-creators .avatar-icon{
        flex-direction: column;
    }
    .browse-categories-card{
        overflow: unset;
    }
    .browse-categories-row{
        justify-content: left;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .discover-more-card>img{
        width: 250px;
        height: 180px;
    }
    .how-it-works-card:nth-child(2) {
        height: 180px;
    }
    .time-numbers h3{
        font-size: 24px;
        padding-right: 0px;
    }
    .time-numbers{
        column-gap: 8px;
    }
    .how-it-works-card{
        width: 250px;
        height: 200px;
    }
    .how-it-works-card>img{
        width:73px;
        height: 73px;
    }
    .how-it-works-card p{
        font-size: 12px;
        max-width: 120px;
    }
    .how-it-works h5{
        padding-bottom: 5px;
        max-width: 120px;
        font-size: 14px;
    }
    .subscribe-card>img{
        width: 250px;
        height: 200px;
    }
    .subscribe-info{
        max-width: 250px;
    }
    .footer-text{
        max-width: 250px;
    }
    footer .email-form input{
        width: 230px;
        padding: 12px 0px 12px 20px;
    } 
    footer .email-button{
        width: 250px;
    } 
}